<!doctype html>
<link rel="stylesheet" type="text/css"
      href="{{ 'static/stock_table.css' }}">

<head>
    <meta charset="UTF-8">
    <title>Stocks Table</title>
</head>
<body>

<table class="center">

<thead>
<tr style="text-align: right;">
    <th>Symbol</th>
    {% for column_name in columns_for_index %}
        <th>{{column_name}}</th>
    {% endfor %}
</thead>

{% for index, row in stock_table.iterrows() %}
<tr>
    <td style="color:black">{{ row['Symbol']}}</td>

    {% for column_name in columns_for_index %}
        {% if column_name not in ['Volume', 'Price', 'Gross Profit'] %}
            <td class="norm_class">{{ row[column_name]}}</td>
        {% else %}
            <td class="{{row['{} Color'.format(column_name)].lower()}}_class">{{ row[column_name]}}</td>
        {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</table>

</body>

</doctype>