<!doctype html>

<head>
    <meta charset="UTF-8">
    <title>Stocks Table</title>
</head>
<body>

<table class="center">
<!--    <thead>-->
<!--    <tr style="text-align: right;">-->
<!--        <th>Session ID</th>-->
<!--        <th>Pass?</th>-->
<!--        <th>Detail</th>-->
<!--    </tr>-->
<!--    </thead>-->

<thead>
<tr style="text-align: right;">
    <th>Symbol</th>
    <th>Action</th>
    <th>Profit</th>
<th>Market Cap</th>
<th>Gross Profit</th>
<th>Market size</th>
<th>Price</th>
<th>Low</th>
<th>High</th>
<th>Share Volume</th>
<th>Average Volume 10 days</th>
<th>Volatility</th>
</thead>>

{% for index, row in stock_table.iterrows() %}
<tr>
    <td style="color:black">{{ row['Symbol']}}</td>
    <td style="color:black">{{ row['Action']}}</td>
    <td>{{ row['Profit']}}</td>
    <td>{{ row['Market Cap']}}</td>
    <td>{{ row['Gross Profit']}}</td>
    <td>{{ row['Market size']}}</td>
    <td>{{ row['Price']}}</td>
    <td>{{ row['Low']}}</td>
    <td>{{ row['High']}}</td>
    <td>{{ row['Share Volume']}}</td>
    <td>{{ row['Average Volume 10 days']}}</td>
    <td>{{ row['Volatility']}}</td>
</tr>
{% endfor %}
</table>

</body>

</doctype>